{% extends 'base.html.twig' %}

{% block title %}ToDo List :{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper div {
            padding: 5px;
        }

        .flex {
            display: inline-flex;
            flex: auto;
        }

        .Normal {
            background-color: #aacd4e;
            margin-top: 5px;
        }

        .Important {
            margin-top: 5px;
            background-color: darkorange;
        }

        .Urgent {
            margin-top: 5px;
            background-color: #AA3333;
        }
    </style>

    <div class="example-wrapper">
    <a href="{{ path('todo') }}"><h1>ToDo List :</h1></a>
    <a href="{{ path('app_logout') }}">Logout</a>
    <h2>Bienvenue : {{ user.username }}</h2>
    <h2>Nous somme le :
        <span>{{ date|date('d') }}</span>-<span>{{ date|date('m') }}</span>-<span>{{ date|date('Y') }}</span></h2>
    {{ form(test) }}
    {% if data is defined %}
        {% for item in data %}
            {% set diff = date(item.getDate).diff(date(date)) %}
            {% set dayDiff = diff.days %}
        <div class="{{ item.getColor }}">
            {% if item.getDate|date("d-m-y") == date|date('d-m-y') and item.getHour|date('H-i') > date|date('H-i')%}
                <div>Alert c'est aujourd'hui ! Dans : </div>
            {% else %}

                {#                        {% set dayDiff = diff.month  %}#}
                <div>Le : {{ item.getDate|date("d-m-Y") }} L'événement
                {% if item.getDate < date %}
                    est passé depuis : {{ dayDiff }} jours </div>
                {% else %}
                    se passera dans : {{ dayDiff }} jours </div>
                {% endif %}
            {% endif %}
            <div>Faire : <br>{{ item.getValue }}</div>
            <div>à : {{ item.getHour|date("H") }}H{{ item.getHour|date("i") }}</div>
            <div>
                <form name="del-form" action="{{ path('delete', {'id': item.getId }) }}">
                    <button type="submit"> Delete</button>
                </form>
                <form name="modify-form" action="{{ path('modify', {'id': item.getId }) }}">
                    <button type="submit"> Modify </button>
                </form>
            </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
